

.app-editor-toolbar {
  border: 1px solid var(--app-border-color);
}

.app-editor-toolbar .w-e-toolbar {
  background-color: var(--app-background);
  color: var(--app-foreground);
}

.app-editor-toolbar .w-e-toolbar .w-e-bar-divider {
  background-color: var(--app-border-color);
}

.app-editor-container {
  border: 1px solid var(--app-border-color);
  border-top: 0;
}

.app-editor-container .w-e-text-container {
  background-color: var(--app-background);
  color: var(--app-foreground);
}
